<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('help') }}">Help</a></li>
            <li><a href="{{ url_for('csv') }}">CSV</a></li>
        </ul>
    </nav>
    <header>
        <img src="{{ url_for('static', filename='Tui-logo.png') }}" alt="Tui logo">
        <div>
            <h1>Upload CSV</h1>
            <h3>Upload PDF File, and then a CSV File of Keywords and Values to validate at once</h3>
        </div>
    </header>

    <main>
        <form method="post" enctype="multipart/form-data">
            {{ upload_pdf_form.hidden_tag() }}
            <div>
                {{ upload_pdf_form.pdf.label }}
                {{ upload_pdf_form.pdf() }}
            </div>
            <div>
                {{ upload_pdf_form.submit(class_='pdf-upload-button') }}
            </div>
        </form>
            <hr>
        <form method="post" enctype="multipart/form-data">
            {{ upload_csv_form.hidden_tag() }}
            <div>
                {{ upload_csv_form.csv.label }}
                {{ upload_csv_form.csv() }}
            </div>
            <div>
                {{ upload_csv_form.submit(class_='csv-upload-button') }}
            </div>
        </form>

        {% if pdf_success %}
        <p class="success-message">PDF file uploaded successfully!</p>
        {% endif %}

        {% if csv_success %}
        <p class="success-message">CSV file uploaded successfully!</p>
        {% endif %}

        {% if not_pdf %}
        <p class="error-message">Incorrect File Input! <br> You can only upload PDF files!</p>
        {% endif %}   

        {% if not_csv %}
        <p class="error-message">Incorrect File Input! <br> You can only upload CSV files!</p>
        {% endif %} 

    </main>
</body>
</html>