<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('help') }}">Help</a></li>
        </ul>
    </nav>
    <header>
        <img src="{{ url_for('static', filename='Tui-logo.png') }}" alt="Tui logo">
        <div>
            <h1>File Validator App</h1>
            <h3>Upload your PDF file to then validate the content</h3>
        </div>
    </header>

    <main>
    <form method='POST' enctype='multipart/form-data'>
        {{ upload_form.hidden_tag() }}
        {{ upload_form.pdf() }}
        {{ upload_form.submit() }}
    </form>
    {% if success %}
        <p class="success-message">File uploaded successfully!</p>
        <form method='POST'>
            {{ input_form.hidden_tag() }}
            {{ input_form.keyword.label }}
            {{ input_form.keyword() }}
            {{ input_form.value.label }}
            {{ input_form.value() }}
            {{ input_form.submit() }}
        </form>
    {% elif success is not none %}
        <p class="error-message">File uploaded unsuccessfully</p>
    {% endif %}

    {% if validated %}
        <!-- <p class="success-message">Data submitted successfully!</p> -->
        <p class="validated">Validation passed!</p>
        <p>{{ found }}</p>
    {% endif %}

    {% if failed %}
        <!-- <p class="success-message">Data submitted successfully!</p> -->
        <p class="error-message">Validation failed!</p>
        <!-- <p>{{ found }}</p> -->
    {% endif %}
</main>
</body>
</html>
