<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('help') }}">Help</a></li>
            <li><a href="{{ url_for('csv') }}">CSV</a></li>
        </ul>
    </nav>
    <header>
        <img src="{{ url_for('static', filename='Tui-logo.png') }}" alt="Tui logo">
        <div>
            <h1>PDF Validator App</h1>
            <h3>Upload your PDF file to then validate the content</h3>
        </div>
    </header>

    <main>
    <form method='POST' enctype='multipart/form-data'>
        {{ upload_form.hidden_tag() }}
        {{ upload_form.pdf() }}
        {{ upload_form.submit() }}
    </form>
    {% if success %}
        <p class="success-message">File uploaded successfully!</p>
        <form method='POST'>
            {{ input_form.hidden_tag() }}
            {{ input_form.keyword.label }}
            {{ input_form.keyword() }}
            {{ input_form.value.label }}
            {{ input_form.value() }}
            {{ input_form.submit() }}
        </form>
    {% elif success is not none %}
        <p class="error-message">File uploaded unsuccessfully</p>
    {% endif %}

    {% if validated %}
        <p class="validated">Validation passed! <br> The keyword and value are on the same line!</p>
        <iframe src="{{ pdf_file_path }}"></iframe>
    {% endif %}

    {% if not_validated %}
        <p class="error-message">Validation failed! <br> The keyword and value are not on the same line!</p>
        <iframe src="{{ pdf_file_path }}"></iframe>
    {% endif %}

    {% if price_valid %}
        <p class="validated">Validation passed! <br> The price on the confirmation form is valid!</p>
    {% endif %}

    {% if price_invalid %}
        <p class="error-message">Validation failed! <br> The price on the confirmation form is not valid!</p>
    {% endif %}

    {% if not_pdf %}
        <p class="error-message">Incorrect File Input! <br> You can only upload PDF files!</p>
    {% endif %}   
</main>
</body>
</html>