<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='Tui-logo.png') }}" alt="Tui logo">
        <div>
            <h1>File Validator App</h1>
            <h3>Upload your PDF file to then validate the content</h3>
        </div>
    </header>
    <form method='POST' enctype='multipart/form-data'>
        {{ upload_form.hidden_tag() }}
        {{ upload_form.pdf() }}
        {{ upload_form.submit() }}
    </form>
    {% if success %}
    <p>File uploaded successfully!</p>
    {% endif %}

    {% if error %}
    <p class="error-message">File uploaded unsuccessfully!</p>
    {% endif %}
</body>
</html>
